<div class="About">
  <div class="About-header">
    <div class="About-me">
      <button
        class="About-toggle HeaderIcon"
        aria-controls="about-details"
        aria-expanded="false"
      >
        <span class="u-hiddenVisually">Toggle links &amp; settings</span>
        <svg class="About-toggleIcon About-toggleIcon--open" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7"/></svg>
        <svg class="About-toggleIcon About-toggleIcon--close" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18 18 6M6 6l12 12"/></svg>
      </button>

      <picture>
        <source srcset="/img/me-x2.avif" type="image/avif">
        <source srcset="/img/me-x2.webp" type="image/webp">
        <img
          src="/img/me-x2.jpg"
          alt="Profile picture of Michael Großklaus"
          width="200"
          height="200"
          fetchpriority="high"
          class="About-img"
        >
      </picture>

      {% if isNote %}
        {% assign nameTag = "p" %}
      {% else %}
        {% assign nameTag = "h1" %}
      {% endif %}

      <{{nameTag}} class="About-name">
        <a href="/" rel="me">Michael Großklaus</a>
      </{{nameTag}}>
    </div>

    <div class="About-settings">
      {% include "_settings.html" %}
    </div>
  </div>

  <div class="About-details" id="about-details">
    <p class="About-description">
      Doing frontend things at <a href="https://factorial.io">factorial.io</a> and created <a href="https://miyagi.dev">miyagi.dev</a>.
    </p>

    <dl class="About-links">
      <div class="About-link">
        <dt class="About-linkName">GitHub</dt>
        <dd class="About-linkValue">
          <a href="https://github.com/mgrsskls" rel="me">github.com/mgrsskls</a>
        </dd>
      </div>
      <div class="About-link">
        <dt class="About-linkName">Mastodon</dt>
        <dd class="About-linkValue">
          <a href="https://indieweb.social/@mgrsskls" rel="me">indieweb.social/@mgrsskls</a>
        </dd>
      </div>
      <div class="About-link">
        <dt class="About-linkName">RSS</dt>
        <dd class="About-linkValue">
          <a href="/feed.xml" rel="alternate" type="application/rss+xml">/feed.xml</a>
        </dd>
      </div>
    </dl>

    <div class="About-code">
      {% include "_theme-toggle.html" index: 1 %}

      <small>
        Built with <a href="https://www.11ty.dev/">Eleventy</a> &amp; hosted on <a href="https://www.netlify.com/">Netlify</a>.
      </small>
    </div>
  </details>
</div>

<script>
  {
    const toggle = document.querySelector(".About-toggle");
    const details = document.querySelector("#about-details");

    toggle.addEventListener("click", () => {
      const expand = toggle.getAttribute("aria-expanded") === "false" ? true : false;

      toggle.setAttribute("aria-expanded", expand ? "true" : "false");
      details.classList.toggle("is-expanded", expand);
    });
  }
</script>
