<div class="Notes">
  <p class="Notes-intro">Collecting some frontend related notes, thoughts, bookmarks and tips.</p>

  {% include "./_tags.html" tags: collections.tagList, showAll: true %}

  {% if reverse_notes %}
    {% assign data = notes | reverse %}
    {% else %}
    {% assign data = notes %}
  {% endif %}

  <ol class="Notes-list" role="list">
    {% for note in data %}
      <li class="Notes-item">
        {% if note.data.blog %}
          {% capture content %}
            {{ note.data.excerpt }}
          {% endcapture %}
        {% else %}
          {% assign content = note.templateContent %}
        {% endif %}
        {% include "./_note.html"
          content: content,
          date: note.date,
          source: note.data.source,
          tags: note.data.tags,
          til: note.data.til,
          title: note.data.title,
          url: note.url,
        %}
      </li>
    {% endfor %}
  </ol>
</div>
