<p class="NotesIntro">Collecting some frontend related notes, thoughts, bookmarks and tips.</p>

<ul class="Tags">
  <li>
    {%- if page.url == "/" -%}
      <span class="Tag">all</span>
    {%- else -%}
      <a class="Tag" href="/">all</a>
    {%- endif -%}
  </li>
  {%- for tag in collections.tagList -%}
    <li>
      {%- assign url = "/tags/" | append: tag | append: "/" -%}
      {%- if page.url == url -%}
        <span class="Tag">{{ tag }}</span>
      {%- else -%}
        <a class="Tag" href="/tags/{{ tag }}" rel="tag">{{ tag }}</a>
      {%- endif -%}
    </li>
  {%- endfor -%}
</ul>

<ol class="Notes" role="list">
  {%- for note in notes reversed -%}
    <li class="Notes-item">
      {% if note.data.blog %}
        {% capture content %}
          {{ note.data.excerpt }}
        {% endcapture %}
      {% else %}
        {% assign content = note.templateContent %}
      {% endif %}
      {% include "./_note.html"
        content: content,
        date: note.date,
        source: note.data.source,
        tags: note.data.tags,
        til: note.data.til,
        title: note.data.title,
        url: note.url,
      %}
    </li>
  {%- endfor -%}
</ol>
