{% if isDetailView %}
  <p class="BackLink">
    <a class="BackLink-link" href="/">Home</a>
  </p>
{% endif %}

<article class="Note" data-url="{{ url }}">
  <header>
    {% if date %}
      <time class="Note-date" datetime="{% isoString date %}">{{ date }}</time>
    {% endif %}

    {% if title %}
      <div class="Note-title">
        {% if isNote %}
          {% assign headingTag = "h1" %}
        {% else %}
          {% assign headingTag = "h2" %}
        {% endif %}
        <{{headingTag}}>
          {% if til %}
            <abbr class="Note-til" title="Today I learned">TIL: </abbr>
          {% endif %}
          {% if isDetailView %}
            {{ title }}
          {% else %}
            <a href="{{ url }}" rel="bookmark">{{ title }}</a>
          {% endif %}
        </{{headingTag}}>
      </div>
    {% endif %}
  </header>

  {{ content }}

  <footer>
    {% if source %}
      <p>
        <small>
          <b>Source:</b> <a href="{{ source }}">{{ source }}</a>
        </small>
      </p>
    {% endif %}

    <div class="u-flex u-spaceBetween u-gap">
      {% if tags %}
      <div class="Note-tags">
        {% include "./_tags.html" tags: tags, showAll: false %}
      </div>
      {% endif %}

      <mg-share text="{{ title }}" url="{{ origin }}{{ url }}"></mg-share>
    </div>
  </footer>
</article>

{% if isDetailView %}
  <mg-webmentions path="{{ path }}"></mg-webmentions>
{% endif %}
