.WebMentions {
	--img-size: 2rem;
	--gap: 0.5rem;

	margin-block-start: var(--spacing);
	border-block-start: var(--divider) var(--color-outline);
	padding-block-start: var(--spacing);
}

.WebMentions-heading {
	margin-block-start: 0;
}

.WebMentions-type {
	font-size: 1rem;
}

.WebMentions-type:first-child {
	margin-block-start: 0;
}

.WebMentions-type:not(:first-child) {
	margin-block-start: 2rem;
}

.WebMentions-list {
	display: flex;
	padding-inline-start: 0;
	margin-block: 0;
}

.WebMentions-list--simple {
	flex-wrap: wrap;
	gap: 0.5rem;
}

.WebMentions-list--replies {
	flex-direction: column;
	gap: 2rem;
}

.WebMentions-item {
	list-style: none;
	flex-shrink: 0;
}

.WebMention-header {
	display: flex;
	align-items: center;
	gap: var(--gap);
	font-weight: bold;
}

.WebMention-img {
	background: var(--color-secondary);
	aspect-ratio: 1;
	block-size: var(--img-size);
}

.WebMention-content {
	color: var(--color-secondary);
	margin-inline-start: calc(var(--img-size) + var(--gap));
}

@media (max-width: 64em) {
	.WebMentions {
		--spacing: 2rem;
	}
}
