.Section--about {
	border-block-end: var(--divider) var(--color-outline);
}

.About-name {
	font-weight: bold;
	line-height: 1;
	margin-block: 1em 0;
}

.About-name a {
	color: #fff;
	text-decoration: none;
}

.About-name a:hover {
	text-decoration: underline;
}

.About-img {
	aspect-ratio: 1;
}

.About-description {
	color: var(--color-dark-secondary);
}

.About-links {
	border-block-start: var(--divider) var(--color-dark-outline);
	padding-block-start: var(--spacing);
	margin-block-start: var(--spacing);
}

.About-link {
	display: flex;
}

.About-linkName {
	font-weight: bold;
	inline-size: 6em;
	flex-shrink: 0;
}

.About-linkValue {
	margin-inline-start: 0;
}

.About-code {
	border-block-start: var(--divider) var(--color-dark-outline);
	color: var(--color-code);
	padding-block-start: var(--spacing);
	margin-block-start: var(--spacing);
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 2rem;
	flex-wrap: wrap;
}

.About-code a {
	color: var(--color-link);
}

@media (max-width: 48.0625em) {
	.Section--about {
		padding-block: 1rem !important;
	}

	.About-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 1rem;
	}

	.About-me {
		display: flex;
		align-items: center;
		gap: var(--header-main-gap);
		line-height: var(--header-main-line-height);
		font-weight: var(--header-main-font-weight);
		text-decoration: var(--header-main-text-decoration);
		color: var(--header-main-color);
	}

	.About-me picture {
		flex-shrink: 0;
	}

	.About-img {
		inline-size: 2.5rem;
	}

	.About-name {
		margin-block: 0;
		font-size: inherit;
		font-weight: inherit;
	}

	.About-toggleIcon {
		display: flex;
		inline-size: 100%;
		block-size: 100%;
		stroke: var(--color-heading);
	}

	[aria-expanded="false"] .About-toggleIcon--close {
		display: none;
	}

	[aria-expanded="true"] .About-toggleIcon--open {
		display: none;
	}

	.About-details:not(.is-expanded) {
		display: none;
	}

	.About-code form {
		display: none;
	}
}

@media (min-width: 48.0625em) {
	.About {
		display: flex;
		flex-direction: column;
		inline-size: 100%;
		max-inline-size: 36rem;
		margin-inline-start: auto;
	}

	.About-name {
		font-size: 2rem;
	}

	.About-toggle,
	.About-settings {
		display: none !important;
	}
}
