.Section--about {
  --color-bg: var(--color-dark-bg);
  --color-text: var(--color-dark-text);
  --color-heading: var(--color-dark-heading);
  --color-secondary: var(--color-dark-secondary);
  --color-light: var(--color-dark-light);
  --color-link: var(--color-dark-link);

  color-scheme: dark;
}

.About > *:last-child {
  margin-block-end: 0;
}

.About-img {
  aspect-ratio: 1;
}

.About-code {
  border-block-start: var(--divider) var(--color-about-divider);
  color: var(--color-about-code);
  padding-block-start: var(--spacing);
  margin-block-start: var(--spacing);
}

.About-code a {
  color: var(--color-about-link);
}

.About-name {
  font-weight: bold;
  line-height: 1;
  margin-block: 1em 0;
}

.About-name a {
  color: var(--color-heading);
  text-decoration: none;
}

.About-name a:hover {
  text-decoration: underline;
}

.About-links {
  margin-block: var(--spacing);
}

.About-linkName {
  font-weight: bold;
  margin-inline-end: 0.5em;
}

.About-linkValue {
  margin-inline-start: 0;
}

.About-linkValue + .About-linkName {
  margin-block-start: 1em;
}

@media (max-width: 48.0625em) {
  .About-me {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .About-me picture {
    flex-shrink: 0;
  }

  .About-img {
    inline-size: 3rem;
  }

  .About-name {
    margin-block: 0;
    font-size: 1.5rem;
  }

  .About-details {
    border-block-start: var(--divider) var(--color-about-divider);
    padding-block-start: var(--spacing);
    margin-block-start: var(--spacing);
  }

  .About-details[open] summary {
    color: var(--color-secondary);
  }
}

@media (min-width: 48.0625em) {
  .About {
    display: flex;
    flex-direction: column;
    inline-size: 100%;
    max-inline-size: 36rem;
    margin-inline-start: auto;
  }

  .About-name {
    font-size: 2rem;
  }

  .About-details summary {
    display: none;
  }
}
