@import "./about.css";
@import "./code.css";
@import "./note.css";
@import "./tags.css";

* {
  box-sizing: border-box;
}

html {
  --color-bg: #fff;
  --color-bg-code: #f5f5f5;
  --color-text: #333;
  --color-heading: #134159;
  --color-secondary: #767676;
  --color-light: #eee;
  --color-link: rgb(153, 16, 106);
  --color-til-bg: hsl(203.5, 40.4%, 30%);
  --color-til-text: #fff;

  --color-dark-bg: hsl(203.5, 40.4%, 12%);
  --color-dark-bg2: hsl(203.5, 40.4%, 10%);
  --color-dark-bg-code: hsl(203.5, 40.4%, 12%);
  --color-dark-text: #eee;
  --color-dark-heading: #618ea6;
  --color-dark-secondary: #788395;
  --color-dark-light: rgba(255, 255, 255, 0.1);
  --color-dark-link: rgb(176, 118, 155);
  --color-dark-til-bg: #618ea6;
  --color-dark-til-text: #fff;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-heading);
}

h1 {
  font-size: 2rem;
  line-height: 1;
}

h2 {
  line-height: 1.2;
}

a {
  color: var(--color-link);
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
}

img {
  display: block;
  max-inline-size: 100%;
  block-size: auto;
  border-radius: 0.5rem;
}

blockquote {
  color: var(--color-secondary);
  position: relative;
  margin-inline-start: 4em;
}

blockquote::before {
  --size: 2em;

  display: block;
  content: "";
  inline-size: var(--size);
  block-size: var(--size);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' width='500' height='1000'%3E%3Cpath d='M369.5 121.2C184 175.2 10 375.2 10 633.4c0 159.5 101.5 275.5 226.1 275.5 130.5 0 197.2-98.6 197.2-188.5 0-104.4-72.5-185.5-179.8-185.5-31.8 0-63.8 8.8-81.2 23.2 0-127.6 101.5-278.4 258-356.6l-60.8-80.3'/%3E%3C/svg%3E");
  background-size: 50% 100%;
  position: absolute;
  inset-block-start: 0;
  inset-inline-end: calc(100% + 0.5rem);
  opacity: 0.15;
}

@media (prefers-color-scheme: dark) {
  blockquote::before {
    filter: invert(1);
  }
}

.Section {
  background: var(--color-bg);
  color: var(--color-text);
  padding: clamp(1rem, 4vw, 4rem);
}

.Section--content {
  color-scheme: light dark;
}

.NotesIntro {
  margin-block: 0 2rem;
  color: var(--color-heading);
  font-weight: 600;
}

.Notes {
  list-style: none;
  margin-block-start: 0;
  padding-inline-start: 0;
}

.Notes-item {
  margin-block-start: 3rem;
  border-block-start: 0.0625em solid var(--color-light);
  padding-block-start: 3rem;
}

@media (min-width: 48.0625em) {
  body {
    display: grid;
    grid-template-columns: 38.2% 61.2%;
  }

  .Content {
    display: flex;
    flex-direction: column;
    max-inline-size: 48em;
    min-block-size: 100%;
  }

  .BackLink {
    margin: auto 0 0;
  }
}

@media (prefers-color-scheme: dark) {
  .Section--content {
    --color-bg: var(--color-dark-bg2);
    --color-bg-code: var(--color-dark-bg-code);
    --color-text: var(--color-dark-text);
    --color-heading: var(--color-dark-heading);
    --color-secondary: var(--color-dark-secondary);
    --color-light: var(--color-dark-light);
    --color-link: var(--color-dark-link);
    --color-til-bg: var(--color-dark-til-bg);
    --color-til-text: var(--color-dark-til-text);
  }
}

.u-hiddenVisually {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
