@import "./index/about.css";
@import "./index/layout.css";
@import "./index/notes.css";
@import "./index/pagination.css";

html:has([name="theme"][value="dark"]:checked)
	body:has(.About-toggle[aria-expanded="true"])
	.Content {
	opacity: 0.1;
}

@media (prefers-color-scheme: dark) {
	body:has(.About-toggle[aria-expanded="true"]) .Content {
		opacity: 0.1;
	}
}
