.Note-date {
  font-size: 0.875em;
}

.Note-title :is(h1, h2) {
  margin-block: 0;
  line-height: 1.2;
}

.Note h1 {
  font-size: 2em;
}

.Note h2:not(:first-child) {
  margin-block-start: 1.5em;
}

.NoteDetail {
  max-inline-size: 72ch;
  margin-inline: auto;
  padding-block: 0 2rem;
  padding-inline: 1.5rem;
}

.NoteDetail-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-block-end: var(--spacing);
  padding-block: calc(var(--spacing) / 2);
  border-block-end: var(--divider) var(--color-light);
}
