html {
  --true:;
  --false: initial;

  --light: var(--true);

  --color-light-scheme: var(--light) light;
  --color-light-bg: var(--light) #fff;
  --color-light-bg-code: var(--light) #f5f5f5;
  --color-light-text: var(--light) #333;
  --color-light-heading: var(--light) #134159;
  --color-light-secondary: var(--light) #767676;
  --color-light-light: var(--light) #eee;
  --color-light-link: var(--light) hsl(321deg 81% 33%);
  --color-light-tag-active: var(--light) #fff;
  --color-light-divider: var(--light) #eee;

  --color-dark-scheme: dark;
  --color-dark-bg: hsl(203.5, 40.4%, 10%);
  --color-dark-bg-code: hsl(203.5, 40.4%, 12%);
  --color-dark-text: #eee;
  --color-dark-heading: hsl(201deg 28% 70%);
  --color-dark-secondary: hsl(217deg 12% 65%);
  --color-dark-light: rgba(255, 255, 255, 0.1);
  --color-dark-link: rgb(176, 118, 155);
  --color-dark-tag-active: #000;
  --color-dark-divider: #2e536b;

  --color-scheme: var(--color-light-scheme, var(--color-dark-scheme));
  --color-bg: var(--color-light-bg, var(--color-dark-bg));
  --color-bg-code: var(--color-light-bg-code, var(--color-dark-bg-code));
  --color-text: var(--color-light-text, var(--color-dark-text));
  --color-heading: var(--color-light-heading, var(--color-dark-heading));
  --color-secondary: var(--color-light-secondary, var(--color-dark-secondary));
  --color-light: var(--color-light-light, var(--color-dark-light));
  --color-link: var(--color-light-link, var(--color-dark-link));
  --color-divider: var(--color-light-divider, var(--color-dark-divider));
  --color-tag-active: var(
    --color-light-tag-active,
    var(--color-dark-tag-active)
  );

  --spacing: clamp(1rem, 3vw, 3rem);

  --divider: 0.0625em solid;

  accent-color: var(--color-link);
  color-scheme: var(--color-scheme);
}

.Section--about {
  --color-text: var(--color-dark-text);
  --color-divider: var(--color-dark-divider);
  --color-link: var(--color-dark-link);
  --color-code: var(--color-dark-code);
  --color-heading: var(--color-dark-heading);

  color-scheme: dark;
}

.theme-light {
  --light: var(--true);
}

html:has([name="theme"][value="light"]:checked) {
  --light: var(--true);
}

@media (prefers-color-scheme: dark) {
  html {
    --light: var(--false);
  }
}

.theme-dark {
  --light: var(--false);
}

html:has([name="theme"][value="dark"]:checked) {
  --light: var(--false);
}
