.WebMentions {
  margin-block-start: var(--spacing);
  border-block-start: 0.0625em solid var(--color-light);
  padding-block-start: var(--spacing);
}

.WebMentions-heading {
  margin-block-start: 0;
}

.WebMentions-list {
  padding-inline-start: 0;
}

.WebMentions-item {
  list-style: none;
}

.WebMentions-item + .WebMentions-item {
  margin-block-start: 2rem;
}

.WebMention-header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.WebMention-header img {
  background: var(--color-secondary);
  aspect-ratio: 1;
  block-size: 2rem;
}

.WebMention-content {
  color: var(--color-secondary);
}

@media (max-width: 64em) {
  .WebMentions {
    --spacing: 2rem;
  }
}

@media (min-width: 64.0625em) {
  .WebMentions {
    --spacing: 4rem;
  }
}
